<div class="person-bio">
  <div class="left">
    <div class="portrait">
      {% block bio_image %}
        <img src="{{ portrait_src }}" alt=" {{ portrait_alt }} ">
      {% endblock %}
    </div>
  </div>
  <div class="right">
    {% block heading %}
      <div class="heading">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading": article_heading,
          "heading_level": article_heading_level|default(3)
        } %}
      </div>
    {% endblock %}
    {% block job %}
      <div class="position">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading": job_title,
          "heading_level": job_title_level|default(4)
        } %}
      </div>
    {% endblock %}
    <div class="copy">
      {% block main_copy %}
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": paragraph_content
        } %}
      {% endblock %}
    </div>
    {% block social %}
      <div class="social">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading": sical_block_title,
          "heading_level": sical_block_level|default(4)
        } %}
        <div class="links">
          {% for link in links %}
            <a href="{{ link.href }}">
              <img src="{{ link.src }}" alt="{{ link.alt }}">
            </a>
          {% endfor %}
        </div>
      </div>
    {% endblock %}
  </div>
</div>
